:root {
    --bg: #faf9f6 !important; /* Define a cor global */
}

body, html, header, footer, article {
    background-color: #faf9f6 !important;
    background-image: none !important; /* Garante que o SVG morreu */
    backdrop-filter: none !important;  /* Garante que o blur morreu */
}